@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.brand {
    background-color: #F1E4E6;
    display: flex;
    gap: 63.42px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    align-items: flex-end;
}

.brand-photo {
    width: 50%;
}

.pink-rectangle {
    width: 12px;
}

.brand-name {
    display: flex;
    margin-bottom: 381px;
    gap: 16px;
}

.name {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.caps {
    font-size: 48px;
    font-weight: 900;
}

.pink {
    color: #F16D7F;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 65px;
    justify-content: center;
}

.item {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.item-acs {
    grid-column: 1/-1;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.item-img {
    filter: brightness(30%);
}

.item-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

.colored {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}

.offers {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 6px;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offers-text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products {
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.offer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.offer-pic {
    margin-bottom: 25px;
}

.describtion {
    padding-top: 24px;
    padding-bottom: 24px;
}

.subtitle {
    margin-bottom: 16px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer-text {
    margin-bottom: 16px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
    border-color: #FF6A6A;
    background: #FFF;
}